<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/bootstrap/bootstrap.min.css') }}">
    <!-- <link rel="stylesheet" href="style/style.css" > -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" media="print" href="{{ url_for('static', filename='style/print_1.css') }}">



    <script src="{{ url_for('static', filename='html2pdf.bundle.js')}}"></script>


    <title>Adwords Audit DEV</title>
</head>

<body id="content">


    <!--Search Overall Audit Score Start-->
    <section class="main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center title">
                    <h2>Overall Audit Score</h2>
                    <h3>Account: {{profile.name}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 my-auto">
                    <div class="score-means">
                        <a href="https://clicksincontext.com/adwords-audit-score" target="_blank">What does my score
                            mean?</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="canvas-wrap">
                        <canvas id="canvas"></canvas>
                        <span id="procent"></span>
                        <!-- ## data['total_score']## of ##data['max_score']## -->
                        <span id="score">{{data.total_score}} of {{data.max_score}}</span>
                    </div>
                </div>
                <div class="col-md-3 text-right my-auto">
                    <div class="share-report">
                        <a href="mailto:?subject=Our Google Ads Audit Score&body=http%3A%2F%2Flcoalhost"
                            data-toggle="modal" data-target="#share-reportModal" title="Our Google Ads Audit Score">
                            <img src="{{ url_for('static', filename='img/icons/share.png')}}"><span>Share Report</span>
                        </a>
                    </div>
                    <div class="print-report js__action--print">
                        <a href="#" class="print-btn"> <img
                                src="{{ url_for('static', filename='img/icons/print.png')}}"><span>Print
                                Report</span></a>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <a href="#" id="cmd" class="pdf-btn">Download PDF Report to Keep</a>
                    <!--<a href="#" id="cmd" onclick="generatePDF()" class="pdf-btn">Download PDF Report to Keep</a>-->
                </div>
            </div>
        </div>

    </section>
    <!--Search Overall Audit Score End-->


    <!--Account Performance Data Start-->

    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center title">
                    <h2>Account Performance Data</h2>
                    <h3>Last 90 days</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    {% for name in data.results[-1].rows[0] %}
                                    <th scope="col"> {{  name }}</th>
                                    {% endfor %}
                                    {% set curr_symbol = data.results[-1].rows[1][0] | replace("USD", "$") | replace ("EUR", "€") | replace("GBP", "£")  %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in data.results[-1].rows[1:-1] %}
                                <tr>
                                    {% for value in row %}
                                    <td>
                                        {% if 'Impr. (' in data.results[-1].rows[0][loop.index0] and row[1] != 'SEARCH'  %}
                                        --
                                        {% elif '%' in data.results[-1].rows[0][loop.index0] %}
                                        {% set float_value = value|float %}
                                        {% set value_100 = float_value*100 %}
                                        {{ '%0.2f'|format(value_100|float) }}%
                                        <!-- value_100 % -->
                                        {% elif 'Cost' in data.results[-1].rows[0][loop.index0] %}
                                        {{curr_symbol}} {{'%0.2f'|format(value|float)}}
                                        {% elif value is number %}
                                        {{'%0.2f'|format(value|float)}}
                                        {% else %}
                                        {{value | replace("USD", "$") | replace ("EUR", "€") | replace("GBP", "£") }}
                                        {% endif %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            <tfoot>
                                <tr>
                                    {% for value in data.results[-1].rows[-1] %}
                                    <th>
                                        {% if '%' in data.results[-1].rows[0][loop.index0] %}
                                        {% set float_value = value|float %}
                                        {% set value_100 = float_value*100 %}
                                        {{ '%0.2f'|format(value_100|float) }}%
                                        <!-- value_100 % -->
                                        {% elif 'Cost' in data.results[-1].rows[0][loop.index0] %}
                                        {{curr_symbol}} {{'%0.2f'|format(value|float)}}
                                        {% elif value is number %}
                                        {{'%0.2f'|format(value|float)}}
                                        {% else %}
                                        {{value | replace("USD", "$") | replace ("EUR", "€") | replace("GBP", "£") }}
                                        {% endif %}
                                    </th>
                                    {% endfor %}
                                </tr>
                            </tfoot>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Search Audit Results Section End-->

    <!--List Of Bits Start-->
    <section class="list-of-bits">
        <div class="container">
            <div class="row header">
                <div class="col-md-12 text-center title">
                    <h2>Performed Search Checks</h2>
                    <h3>Search Audit Score</h3>
                </div>
            </div>

            <div class="row justify-content-center" id="search-canv">
                <div class="col-md-6 my-auto">
                    <div class="canvas-wrap">
                        <canvas id="canvas-search"></canvas>
                        <span id="procent-search"></span>
                        <!-- ## data['total_score']## of ##data['max_score']## -->
                        <span id="score">{{data.typed_score.search.score}} of {{data.typed_score.search.max_score}}</span>
                    </div>
                </div>
            </div>

            <div class="row print">
                <!-- TODO: repeat cards based on $data -->


                {% set imgs = [
                "img/icons/analytics.svg",
                "img/icons/anal.svg",
                "img/icons/audience.svg",
                "img/icons/landing.svg",
                "img/icons/no-aud.svg",
                "img/icons/no-key.svg",
                "img/icons/negatives.svg",
                "img/icons/graph2.svg",
                "img/icons/graph3.svg",
                "img/icons/graph4.svg",
                "img/icons/graph5.svg",
                "img/icons/graph6.svg",
                "img/icons/graph.svg",
                "img/icons/anal.svg",
                "img/icons/graph6.svg",
                "img/icons/graph3.svg"
            ] 
            %}

                {% for check in data.results if check.name != 'account_stats' and check.type != 'display' and check.flag != 'other' %}

                <div class="card mb-4 col-md-4">
                    <div class="card-body bit-box text-center d-flex flex-column">
                        <!-- {{ url_for('static', filename='style/style.css') }} -->
                        {% set filename = imgs[loop.index0] if loop.index0 < imgs|length else imgs[loop.index0 - imgs|length ] %}
                        <img src="{{  url_for('static', filename=filename)}}">
                        <!-- <img src= "img/icons/analytics.svg"> -->
                        <div class="count">{{ check.scored }} </div>
                        <div class="bit-description">{{ check.description }} </div>

                        <a href="#" class="btn-block mt-auto test2-{{check.flag}}" data-toggle="popover"
                            data-trigger="hover" data-content="{{ check.long_description }}">
                            {% if check.flag == 'red' %}
                            Test Failed
                            {% elif check.flag == 'green' %}
                            Test Passed
                            {% else %}
                            Test Passed Partly
                            {% endif %}

                        </a>
                    </div>
                </div>

                {%endfor%}
            </div>
        </div>
    </section>
    <!--List Of Bits End-->


    <!--Display Audit Results Start-->
    <section class="bits">
        <div class="container">
            <div class="row header">
                <div class="col-md-12 text-center title">
                    <h2>Performed Display Checks</h2>
                </div>
            </div>
            <div class="row display-flex print">
                {% set d_imgs = [
                "img/icons/graph.svg",
                "img/icons/anal.svg",
                "img/icons/graph6.svg",
                "img/icons/graph3.svg"
                ]
            %}

                {% for check in data.results if check.type == 'display' and check.flag != 'other' %}
                <div class="col-md-3 card">
                    <div class="bit-box text-center">
                        <!-- {{ url_for('static', filename='style/style.css') }} -->
                        <img src="{{  url_for('static', filename=d_imgs[loop.index0])}}">
                        <!-- <img src= "img/icons/analytics.svg"> -->
                        <div class="count">{{ check.scored }} </div>
                        <div class="bit-description">{{ check.description }} </div>
                        <div class="test2-{{check.flag}}">
                            {% if check.flag == 'red' %}
                            Test Failed
                            {% elif check.flag == 'green' %}
                            Test Passed
                            {% else %}
                            Test Passed Partly
                            {% endif %}

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!--Display Audit Results End-->


    <!--Display Tables Results Start-->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center title">
                    <h2>Display Performamce Data</h2>
                </div>
            </div>

            {% for report in data.results if report.flag == 'other' and report.type == 'display' and report.rows|length > 1%}
            <div class="break-page"></div>
            <div class="row">
                <div class="col-md-12 text-center title">
                    <h3>{{report.description}}</h3>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-8">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    {% for colName in report.rows[0] %}
                                    <th scope="col">{{colName}}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for row in report.rows[1:] %}
                                <tr>
                                    {% for value in  row %}
                                    <td>

                                        {% if '%' in report.rows[0][loop.index0] %}
                                        {% set float_value = value|float %}
                                        {% set value_100 = float_value*100 %}
                                        {{ '%0.2f'|format(value_100|float) }}%
                                        <!-- value_100 % -->
                                        {% elif 'Cost' in report.rows[0][loop.index0] %}
                                        {{curr_symbol}} {{'%0.2f'|format(value|float)}}
                                        {% elif value is number %}
                                        {{'%0.2f'|format(value|float)}}
                                        {% else %}
                                        {{value | replace("USD", "$") | replace ("EUR", "€") | replace("GBP", "£") }}
                                        {% endif %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    <!--Display Audit Results End-->


    <!-- share-reportModal -->
    <div class="modal modal--custom fade" id="share-reportModal" tabindex="-1" role="dialog"
        aria-labelledby="share-reportModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h6>Enter email and we'll sent a link to the report:</h6>
                    <form class="modal--custom__form" id="send-form" action="">
                        <input class="modal--custom__form__input" type="email" name="email" placeholder="user@example.com" />
                        <input type="hidden" name="audit_id" value="{{audit_id}}" />
                        <input type="hidden" name="account_name" value="{{profile.name}}" />

                        <button class="button">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- explanationModal -->
    <div class="modal modal--custom fade" id="explanationModal" tabindex="-1" role="dialog"
        aria-labelledby="explanationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <h6>Click in content audit:</h6>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.</p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <a href="#" id="mprint"></a>
    </div>






    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.debug.js"></script>
    <script>

        window.onload = function () {
            var canTotal = document.getElementById('canvas'),
                spanProcentTotal = document.getElementById('procent');



            arcMove(canTotal, spanProcentTotal, {{ data.total_score/data.max_score * 100}} );

            {% if 'typed_score' in data and 'search' in data['typed_score']%}
            var canSearch =document.getElementById('canvas-search'),
            spanProcentSearch = document.getElementById('procent-search');
            arcMove(canSearch, spanProcentSearch, {{ data.typed_score.search.score/data.typed_score.search.max_score * 100 }} );

            {% endif %}

            function arcMove(can, spanProcent, resValue) {
                var posX = can.width / 2,
                    posY = can.height / 2,
                    fps = 1000 / 200,
                    procent = 0,
                    oneProcent = 360 / 100,
                    result = oneProcent * resValue,
                    startAngle =  270 //180 + 45
                var mediaQuery = window.matchMedia('print');
                var deegres = 0;
                c = can.getContext('2d');
                c.lineCap = 'round';
                if (mediaQuery.matches) {
                    var acrInterval = setInterval(function () {
                            deegres += 1;
                        c.clearRect(0, 0, can.width, can.height);
                        procent = deegres / oneProcent;

                        spanProcent.innerHTML = procent.toFixed();

                        c.beginPath();
                        // c.arc(posX, posY, 70, (Math.PI / 180) * 270, (Math.PI / 180) * (270 + 360));
                        c.arc(posX, posY, 70, (Math.PI / 180) * startAngle, (Math.PI / 180) * (startAngle + 360));
                        c.strokeStyle = '#f2f2f2';
                        c.lineWidth = '6';
                        c.stroke();

                        c.beginPath();
                        c.strokeStyle = '#fbcd3b';
                        c.lineWidth = '6';
                        // c.arc(posX, posY, 70, (Math.PI / 180) * 270, (Math.PI / 180) * (270 + deegres));
                        c.arc(posX, posY, 70, (Math.PI / 180) * startAngle, (Math.PI / 180) * (startAngle + deegres));
                        c.stroke();
                        if (deegres >= result) clearInterval(acrInterval);
                    }, fps);
                } else {
                    c.clearRect(0, 0, can.width, can.height);

                    procent = resValue;

                    spanProcent.innerHTML = procent.toFixed();

                    c.beginPath();
                    c.arc(posX, posY, 70, (Math.PI / 180) * 270, (Math.PI / 180) * (270 + 360));
                    c.strokeStyle = '#f2f2f2';
                    c.lineWidth = '6';
                    c.stroke();

                    c.beginPath();
                    c.strokeStyle = '#fbcd3b';
                    c.lineWidth = '6';
                    // c.arc(posX, posY, 70, (Math.PI / 180) * 270, (Math.PI / 180) * (270 + oneProcent * {{ data.total_score/data.max_score * 100}} ));
                    c.arc(posX, posY, 70, (Math.PI / 180) * startAngle, (Math.PI / 180) * (startAngle + oneProcent * resValue ));
                    c.stroke();
                }

            }

        }
    </script>

    <script>
        $('.print-btn').on('click', function () {
            print();
        });
        $('.pdf-btn')
            .on('click', function () {
                $(this).text('... Loading')
                showPDF($(this));
            });

        $('#send-form').on('submit', function (e) {
            e.preventDefault(); // avoid to execute the actual submit of the form.
            console.log('form prevented')
            var form = $(this);

            var sendFormData = new URLSearchParams();

            // var sendFormData = new URLSearchParams(form[0]);
            form.serializeArray().map(function (input) {
                sendFormData.append(input.name, input.value)
                console.log(`appended ${input.name} of ${input.value}`)
            })
            fetch("{{url_for('send_mail')}}", {
                method: 'post',
                body: sendFormData,
            })
            .then(function () {
                console.log('form was sent')
              form.html("<p>A link to report was sent</p>")
            });
            return false
        }) 
    </script>



    <script>
        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
        }


        function showFile(blob) {
            // It is necessary to create a new blob object with mime-type explicitly set
            // otherwise only Chrome works like it should
            var newBlob = new Blob([blob], { type: "application/pdf" })

            // IE doesn't allow using a blob object directly as link href
            // instead it is necessary to use msSaveOrOpenBlob
            if (window.navigator && window.navigator.msSaveOrOpenBlob) {
                window.navigator.msSaveOrOpenBlob(newBlob);
                return;
            }

            // For other browsers: 
            // Create a link pointing to the ObjectURL containing the blob.
            const data = window.URL.createObjectURL(newBlob);
            var link = document.getElementById('mprint');
            link.href = data;
            link.download = "file.pdf";
            link.click();
            setTimeout(function () {
                // For Firefox it is necessary to delay revoking the ObjectURL
                window.URL.revokeObjectURL(data);
            }, 100);
        }


        function showPDF(el) {
            var url = 'https://us-central1-cic-ads-audit-frb.cloudfunctions.net/html2pdf'
            if (document.location.host.match('localhost')) url = 'http://localhost:5001/cic-ads-audit-frb/us-central1/html2pdf'
            // var paramUrl = `${url}?url=${window.location.href}&session=${getCookie('session')}`.replace(/\#/g, '')
            // var paramUrl = `${url}?audit_id={{ audit_id }}` // + "{{ url_for('restore_audit', audit_id=audit_id,  _external=True) }}"
            var paramUrl = `${url}?url=` + "{{ url_for('restore_audit', audit_id=audit_id,  _external=True) }}" + "&session=dummy"


            fetch(paramUrl)
                .then(r => r.blob())
                .then(showFile)
                .then(e => el.text('Download PDF Report to Keep'))
        }
    </script>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>

</body>

</html>